[package]
name = "bambooclaw"
version = "1.0.1"
edition = "2021"

[workspace]

[[bin]]
name = "bambooclaw"
path = "src/main.rs"

[dependencies]
tauri = { version = "1", features = ["shell-open"] }
serde = { version = "1", features = ["derive"] }
serde_json = "1"

[build-dependencies]
tauri-build = { version = "1", features = [] }

[features]
custom-protocol = ["tauri/custom-protocol"]
